<h1> Chef's Name: @ViewBag.OneRecipe.Chef</h1>
<h1>Dish Name: @ViewBag.OneRecipe.Name</h1>
<h1> Calories:@ViewBag.OneRecipe.Calories</h1>
<h1>Tastiness:@ViewBag.OneRecipe.Tastiness</h1>
<h1>Description:@ViewBag.OneRecipe.Description</h1>
